#AP1_login ,
#AP1_signup {
    -fx-background-color: linear-gradient(to right top, #D2B48C, #8B4513);
}

#btn_cnx_login,
#btn_cnx_signup {
    -fx-font-size: 20px;
    -fx-background-color: linear-gradient(to right top, #D2B48C, #8B4513);
    -fx-text-fill: white;
    -fx-padding: 8 8 8 8;
    -fx-font-weight: bold;
}
#btn_pageprecedente ,
#btn_exit,
#btn_refresh_captcha {
    -fx-font-size: 20px;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-padding: 8 8 8 8;
    -fx-font-weight: bold;
}

#btn_parcourir_image {
    -fx-font-size: 10px;
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-padding: 8 8 8 8;
    -fx-font-weight: bold;
}

#btn_inscription ,
#btn_password_oublie {
    -fx-background-color: transparent;
    -fx-text-fill: blue;
}

#label_cnx_login,
#label_cnx_signup {
    -fx-font-size: 20px;
    -fx-text-fill: linear-gradient(to bottom, black, #D2B48C);
    -fx-padding: 8 8 8 8;
    -fx-font-weight: bold;
}

#textfield_login ,
#paswwordfield_login ,
#textfield_name ,
#textfield_phone ,
#textfield_email ,
#passwordfield1_signup ,
#passwordfield2_signup,
#textfield_captcha {
    -fx-background-color: transparent; /* Couleur de fond */
    -fx-border-width: 0 0 2 0; /* Épaisseur de la bordure : haut droite bas gauche */
    -fx-border-color: #D2B48C; /* Couleur de la bordure */
    -fx-border-radius: 5px; /* Rayon de la bordure */
    -fx-padding: 8px; /* Remplissage interne */
}

.shadow{
    -fx-effect:dropshadow(three-pass-box, rgba(0,0,0,0.4), 6,0,0,0);
}

.white-bg{
    -fx-background-color:#fff;
    -fx-background-radius:8px;
}
